<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>AngularJS: Directives</title>
	<link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="vendor/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
</head>
<body ng-controller="Default">
<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>Directives</h3>
		</div>
	</div>
	<div class="panel-body">
		<!-- Content  -->

		<!-- Task 01 -->
		<!-- <div unordered-list1></div>
    <div unordered-list2></div> -->

		<!-- Task 02 -->
		<!-- <div unordered-list3="products" list-property="price | currency"></div> -->

		<!-- Task 03 -->
		<!-- <div unordered-list4="products" list-property="price | currency"></div> -->

		<!-- Task 04 -->

		<!-- <div unordered-list5="products" list-property="price | currency"></div> -->
		<!-- <div unordered-list5="products" list-property="data.field"></div> -->


		<!-- Task 05 -->
		<!--<select ng-model="data.field">-->
			<!--<option value="price | currency">Price</option>-->
			<!--<option value="name">Name</option>-->
			<!--<option value="category">Category</option>-->
		<!--</select>-->
		<!--&lt;!&ndash; <div unordered-list-attrs="products" list-property="{{data.field}}"></div> &ndash;&gt;-->
		<!--<div unordered-list-scope="products" list-property="data.field"></div>-->
		<!--<button class="btn btn-primary" ng-click="incrementPrices()">Change Price</button>-->

		<!-- Task 06 -->
		<!--<h5>Директива как элемент</h5>-->
			<!--<unordered-list6 list-source="products" list-property="price | currency" />-->
		<!--</div>-->

		<!--<div class="panel-body">-->
			<!--<h5>Директива как атрибут</h5>-->
			<!--<div unordered-list6="products" list-property="price | currency"></div>-->
		<!--</div>-->

		<!--<div class="panel-body">-->
			<!--<h5>Директива как класс</h5>-->
			<!--<div class="unordered-list6: products" list-property="price | currency"></div>-->
		<!--</div>-->

		<!--<div class="panel-body">-->
			<!--<h5>Директива как комментарий</h5>-->
			<!--&lt;!&ndash; directive: unordered-list6 products &ndash;&gt;-->
		<!--</div>-->

		<!-- Task 07 -->
		<!--<div unordered-list7="products"></div>-->
		<!--<div unordered-list8="products"></div>-->
		<!--<div unordered-list9="products"></div>-->
		<!--<div unordered-list10="products"></div>-->
		<!--<div unordered-list11="products"></div>-->
		<!--<div unordered-list12="products" template="table"></div>-->

		<!-- Task 08, 09, 10, 11 -->
		<!--<div scope-demo-false></div> &lt;!&ndash;ng-controller="Default"&ndash;&gt;-->
		<!--<div scope-demo-false></div> &lt;!&ndash;ng-controller="Second"&ndash;&gt;-->

		<!--<div scope-demo-true></div> &lt;!&ndash;отдельные scope&ndash;&gt;-->
		<!--<div scope-demo-true></div>-->

		<!--<div scope-demo-isolated></div>-->

		<!-- Task 12 -->
		<!--<component decor1 decor2></component>-->

		<!--Task 13-->
		<!--Value in Default Controller: <input type="text" ng-model="data.name">-->
		<!--<div scope-demo-isolated1 prop="{{data.name}}"></div> &lt;!&ndash;через prop передаем данные в директиву&ndash;&gt;-->
		<!--<div scope-demo-isolated2 prop="data.name"></div>-->
		<!--<div scope-demo-isolated3 prop="data.name"></div>-->
		<!--<div scope-demo-isolated3 prop="data"></div>-->
		<!--<div scope-demo-isolated4 prop="data.name" city="getCity(data.name)"></div>-->
		<!--<div scope-demo-isolated4 prop="data.name" city="getCity(userName)"></div> &lt;!&ndash;функция задана на контроллере, но данные для ее выполнения находятся в директиве&ndash;&gt;-->

		<!--Task 14-->
		<!--<greeting1 />-->
		<!--<greeting2 />-->
		<!--<greeting3 ctrl="Greeting" />-->
		<!--<div scope-demo-isolated5 prop="111"></div>-->

		<!--Task 15-->
		<!--<greeting4 hello hi />-->

		<!--Task 16-->
		<!--<greeting5 hello2 hi2 />-->

		<!--Task 17, 18-->
		<!--<greeting6 hi3 hello3 />-->

		<!--Task 19-->
		<!--<p my-multi-elem-start>Lorem ipsum</p>-->
		<!--<div>Lorem</div>-->
		<!--<a my-multi-elem-end href="">A link</a>-->

		<!--Task 20-->
		<!--<panel title="This panel">-->
			<!--The data from controller: {{dataSource}}-->
		<!--</panel>-->

		<!--<collapsible-true title="Clickable Title">-->
			<!--<div>This is collapsible content</div>-->
		<!--</collapsible-true>-->

		<!--<div>-->
			<!--Some text in div-->
		<!--<collapsible-element title="Clickable Title">-->
			<!--<div>This is collapsible content</div>-->
		<!--</collapsible-element>-->
		<!--</div>-->

		<multi-transclude>
			Some text in multi-transclude
			<component-one>component one</component-one>
			<component-two>component two</component-two>
		</multi-transclude>
</div>

<!-- libs and frameworks -->
<script src="vendor/angular/angular.min.js"></script>

<!-- app -->
<script src="app.js"></script>
<script src="controllers/Default.js"></script>
<script src="controllers/Second.js"></script>
<script src="controllers/Greeting.js"></script>
<script src="services/productsData.js"></script>
<script src="services/userData.js"></script>
<script src="directives/directives.js"></script>

<script id="listTemplate" type="text/template">
	<ul>
		<li ng-repeat="item in data">{{item.price | currency}}</li>
	</ul>
</script>

</body>
</html>









